<div class="grid-container">
    <div id="login-wrapper">
        <div class="login">
            <form>
                <div>
                    <input type="text" placeholder="Email" />
                </div>
                <div>
                    <input type="text" placeholder="Password"/>
                </div>
                <div>
                    <input type="submit" value="Login"/>
                </div>
                <div>
                    <input type="submit" value="Log in with Facebook"/>
                </div>
                <div>
                    <input type="submit" value="Log in with Facebook"/>
                </div>
            </form>
        </div>
    </div>
</div>