<textarea id="tempDiv" style="position:absolute; z-index:-999; visibility:hidden; font-size: 16px; font-family:Arial;height:290px; overflow:hidden; padding:2px 7px; resize:none;width:346px;">sss</textarea>
<table style="margin-left: auto; margin-right: auto;" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <player-bar></player-bar>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td style="vertical-align: top;">
                        <div id="content">
                            <!--<song-list></song-list>-->
                        </div>
                    </td>
                    <td></td>
                    <td style="vertical-align: top; width:550px;">
                        <!--<song-details></song-details>-->
                    </td>
                    <td id="FilterList" style="vertical-align: top;">

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<div id="footer">
    copyright &copy; since 2013 D.A. "Redemptor" <br> Muzyczna &amp; Chóralna
</div>
