<div id="player" onselectstart="return false" onmousedown="return false">
    <div id="buttons">
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td><span title="Odtwarzaj" id="play"></span></td>
                <td><span title="Wstrzymaj" id="pause" style="display: none;"></span></td>
                <td class="buttonSpace"></td>
                <td><span title="Zatrzymaj" id="stop"></span></td>
                <td class="buttonSpace"></td>
                <td><span id="duration">0:00</span></td>
                <td class="buttonSpace"></td>
                <td>
                    <div id="progressBar">
                        <span id="progress"></span>
                    </div>
                </td>
                <td class="buttonSpace"></td>
                <td><span id="durationFullTime">0:00</span></td>
                <td class="buttonSpace"></td>
                <td><span title="Głosność" id="volume"></span></td>
                <td class="buttonSpace"></td>
                <td><span title="Generator slajdów" id="SlideCreatorPanel" class="slideCreatorClose"></span></td>
                <td class="buttonSpace"></td>
            </tr>
        </table>
    </div>
</div>