#player-bar {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px black;
    height: 30px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
    background-image: linear-gradient(to bottom, #7d510e, #442b2b)
}

#buttons {
	margin-top: 7px;
	margin-left: 10px;
}

.button {
    padding-left:10px;
	cursor: pointer;
	background-size: cover !important;
	height:10px;
	display:inline-block;
}

#play {
	background:url(app/images/play.png);
}

#pause {
	background:url(app/images/pause.png);
}

#stop {
	background:url(app/images/stop.png);
}

.right-space {
    padding-right: 10px;
}

#progressBar { 
   width:739px;
   height:4px;
   background:url(app/images/progressbar.png);
   display:flex;
   cursor:pointer;
}

#progress {
   background:url(app/images/progressbarfull.png);
   height:4px;
   display:inline-block;
}

#duration, #durationFullTime{
  color: white;
  font: 11px Verdana;
  display:inline-block;
  text-align: right;
  width: 33px;
}

#volume {
	cursor: pointer;
	background:url(app/images/vol4.png);
	background-size: cover;
	height: 11px;
	width: 23px;
	display:inline-block;
}

.hide {
    display: none;
}

.show {
    display: block;
}